///
/// Default $condo settings
/// @prop $condo-defaults
/// @prop {String} $condo-defaults.container [auto] Can be any valid width value
/// @prop {String} $condo-defaults.container-position [center] Options: left, center, right; Determines the position of the container.
/// @prop {Number} $condo-defaults.columns [4] Number of columns to used for grid settings
/// @prop {Float} $condo-defaults.gutters [.25] Percentage of a column that the width of a gutter will be
/// @prop {String} $condo-defaults.gutter-position [after] Options: after, split; Determines width and position of gutters.
///
$condo-defaults: (
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  gutter-position: after
);

// Empty $condo map in case one is not supplied by the user
$condo: () !default;

// Merge defaults with $condo to create new $condo map
$condo: map-merge($condo-defaults, $condo);
