*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Droid Serif", serif;
  font-size: 100%;
}
@media (min-width: 1350px) {
  html {
    font-size: 115%;
  }
}

body {
  background: #f7f7f7;
  color: #0a0200;
}

a {
  color: #33a1cc;
  text-decoration: none;
  position: relative;
  transition: color .3s ease;
}
a:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #33a1cc;
  transition: width .3s ease, background .3s ease;
  position: absolute;
  top: 100%;
  left: 0;
}
a:hover {
  color: #2f94bc;
}
a:hover:after {
  width: 100%;
  background: #2f94bc;
}
.footer a {
  color: #5cb4d6;
}
.footer a:hover {
  color: #2f94bc;
}

section {
  padding: 2.88rem 0;
}
@media (min-width: 1025px) {
  section {
    padding: 4.32rem 0;
  }
}

svg {
  font-size: .75rem;
}

ol,
ul {
  font-size: 100%;
  line-height: 1.8;
  padding: 0 2.88rem;
  margin-bottom: 1.44rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

h1 {
  font-size: 2rem;
  line-height: 2.7rem;
  margin-bottom: 1.44rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 1.44rem;
}

h3 {
  font-size: 1.35rem;
  line-height: 1.8rem;
  margin-bottom: 1.44rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin-bottom: 1.44rem;
}

h5 {
  font-size: 1.15rem;
  line-height: 1.8rem;
  margin-bottom: 1.44rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1.44rem;
}

body {
  font-size: 1rem;
  line-height: 1.8;
}

p,
ol,
ul,
pre {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.44rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", sans-serif;
}

.header {
  background: #144052;
  color: #f7f7f7;
  text-align: center;
  padding: 5.76rem 0;
  margin-bottom: 2.88rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 600px) {
  .header {
    padding: 8.64rem 0;
  }
}
.header-background {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s ease;
}
@media (min-width: 600px) {
  .header-background {
    display: block;
  }
}
.is-trianglified .header-background {
  opacity: 1;
}
.header-background canvas {
  width: 100%;
}
.header-heading-wrap {
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s ease;
}
.is-trianglified .header-heading-wrap {
  opacity: 1;
}
.header-heading {
  font-size: 65px;
  font-weight: 700;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-bottom: 0.72rem;
}
.header-subheading {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.footer {
  background: #2b2b2b;
  color: #f7f7f7;
  padding: 2.88rem 0;
}
.footer section {
  margin-bottom: 0;
}
.footer p:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}
@media (min-width: 1025px) {
  .container {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .container::after {
    clear: both;
    content: "";
    display: table;
  }
}
@media (min-width: 1350px) {
  .container {
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
  .container::after {
    clear: both;
    content: "";
    display: table;
  }
}

.example_1 {
  background: #d5dadd;
  color: #144052;
}
.example_1:before, .example_1:after {
  content: ' ';
  display: table;
}
.example_1:after {
  clear: both;
}
.example_1-article, .example_1-aside {
  background: #f7f7f7;
  padding: 1.44rem;
  margin-bottom: 1.44rem;
}
@media (min-width: 600px) {
  .example_1-article {
    float: left;
    width: 46.875%;
    margin-right: 6.25%;
  }
}
@media (min-width: 1025px) {
  .example_1-article {
    float: left;
    width: 73.4375%;
    margin-right: 6.25%;
  }
}
@media (min-width: 600px) {
  .example_1-aside {
    float: left;
    width: 46.875%;
    margin-right: 6.25%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1025px) {
  .example_1-aside {
    float: left;
    width: 20.3125%;
    margin-right: 6.25%;
    float: right;
    margin-right: 0;
  }
}

.coming_soon {
  color: #33a1cc;
  font-size: 35px;
  line-height: 1.2;
  text-align: center;
  padding: 5.76rem 0;
}
@media (min-width: 600px) {
  .coming_soon {
    font-size: 50px;
  }
}

.btn,
.button,
a.btn,
a.button, .btn--ghost_on_dark,
.button--ghost_on_dark,
a.btn--ghost_on_dark,
a.button--ghost_on_dark {
  display: inline-block;
  font-family: "Catamaran", sans-serif;
  padding: 0.36rem 1.44rem;
  margin-bottom: 1.44rem;
  border: none;
  border-radius: 2px;
  transition: all .3s ease;
}
.btn:after,
.button:after, .btn--ghost_on_dark:after,
.button--ghost_on_dark:after {
  display: none;
}

.btn,
.button,
a.btn,
a.button {
  background: #33a1cc;
  color: #f7f7f7;
}
.btn:hover,
.button:hover {
  background: #2981a3;
}

.btn--ghost_on_dark,
.button--ghost_on_dark,
a.btn--ghost_on_dark,
a.button--ghost_on_dark {
  background: transparent;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
}
.btn--ghost_on_dark:hover,
.button--ghost_on_dark:hover {
  background: #f7f7f7;
  color: #33a1cc;
}

.btn + .btn,
.button + .btn,
a.btn + .btn,
a.button + .btn, .btn +
.button,
.button +
.button,
a.btn +
.button,
a.button +
.button, .btn +
a.btn,
.button +
a.btn,
a.btn +
a.btn,
a.button +
a.btn, .btn +
a.button,
.button +
a.button,
a.btn +
a.button,
a.button +
a.button {
  margin: 0 0.72rem;
}

/*# sourceMappingURL=application.css.map */
